#cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  max-height: 70vh;
}
button{
  margin:20px 30px;
  padding: 10px 20px;
  background-color: brown;
  color: white;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
}